<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>University Application</title>
   <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
   <h1>Welcome to the University Application</h1>
   <button><a href="/courses">View Courses</a><br></button>
   <button><a href="/students">View Students</a></button>
</body>

</html>